:root {
	--color-fondo-menu: white;
	--color-fondo-pagina: #F0F0F0;
    --color-fondo-oscuro: 0,35,40;					/*0,35,40 Color azulado-verdoso oscuro*/
    --color-texto-blanco: white;
	--color-texto-negro: #333;								
}

body {
	font-family:  Helvetica, Arial, sans-serif;
	background-color: var(--color-fondo-pagina);
    color: var(--color-texto-negro);
    margin: 0;
    padding: 0;
    overflow-x: hidden; 							/* Evita el desbordamiento horizontal en todo el cuerpo y así no aparece barra inferior de scroll*/
	user-select: none;         						/* Evita la selección de texto en la página (Estándar) */
	-webkit-user-select: none; 						/* Evita la selección de texto en la página (Safari y Chrome) */
    -moz-user-select: none;    						/* Evita la selección de texto en la página (Firefox) */
    -ms-user-select: none;     						/* Evita la selección de texto en la página (Internet Explorer/Edge) */
}

/*###########################################*/
/*			  	MENU SUPERIOR			 	 */
/*###########################################*/
/* Estilo del botón de apertura del menú */
.open-menu-button {
    font-size: 1.5em;
    background-color: transparent; 					/* Fondo transparente */
    color: var(--color-texto-blanco);
    border: none;
    cursor: pointer;
    position: absolute; 							/* Posiciona el botón dentro del nav */
    left: 10px; 									/* Ajusta según sea necesario */
}

/* Estilo del header */
header {
    text-align: center;
    max-width: 100%;
}

/* Estilo de la barra de navegación */
header nav {
    background-color: rgb(var(--color-fondo-oscuro));
    color: var(--color-texto-blanco); 
    padding: 10px;
    max-width: 100%;
    position: relative; 							/* Añadido para que el botón se posicione en relación a nav */
    display: flex; 									/* Usamos flexbox para alinear los elementos */
    justify-content: center; 						/* Centra los elementos de la barra de navegación */
    align-items: center; 							/* Alinea verticalmente los elementos */
}

/* Estilo de la lista de navegación */
header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; 						/* Centra los elementos de la lista */
    flex-wrap: wrap; 								/* Permite que los elementos se envuelvan si es necesario */
    margin-left: auto; 								/* Mueve el menú de navegación hacia la derecha */
    margin-right: auto; 							/* Mueve el menú de navegación hacia la izquierda */
}

/* Estilo de los elementos de la lista */
header nav ul li {
    margin: 0 10px;
}

/* Estilo de los enlaces de navegación */
header nav ul li a {
    font-weight: bold;
	background-color: rgb(var(--color-fondo-oscuro));
    color: var(--color-texto-blanco);
    text-decoration: none;  
	padding: 5px 15px;
	box-shadow: none; 								/* Sin borde */
}

/* Media Query para evitar ejecutar el hover en dispositivos táctiles */
@media (hover: hover) and (pointer: fine) {
	/* Agrega un fondo resaltado al pasar el ratón sobre el enlace */
	header nav ul li a:hover {
		background-color: #00FF00; /* Verde claro */
		color: var(--color-texto-oscuro); /* Color del texto cuando el fondo es verde claro */
		border-radius: 15px; /* Bordes redondeados */
		transition: background-color 0.3s; /* Transición suave para el cambio de fondo */
		box-shadow: 0 0 0 2px white; /* Borde blanco alrededor, no afecta el tamaño del elemento */
	}
}

/* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
	.open-menu-button {
        font-size: 1.2em;
        padding: 8px;
    }
    header nav ul li {
        margin: 0 5px;
    }
    header nav ul li a {
        font-size: 0.9em;
    }
}

/*###########################################*/
/*			   ELEMENTOS CENTRALES			 */
/*###########################################*/
main {
    padding: 20px;
	margin-bottom: 60px; 							/* Espacio adicional para asegurar que el contenido no quede pegado al borde inferior */
}

/* Contenedor de sección */
.section-container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
}

/* Titular de sección */
.section-title {
    text-align: center; /* Centra el texto del titular */
    font-size: 2.5em;   /* Ajusta el tamaño del texto */
    color: #333;        /* Cambia el color del texto */
    margin-bottom: 40px; /* Espacio debajo del titular */
    width: 100%;        /* Asegura que el titular ocupe todo el ancho disponible */
    max-width: 600px;   /* Limita el ancho máximo del titular al ancho del contenedor */
    margin: 0 auto; /* Centra el texto en el contenedor */	  
}

/* Estilo de la superposición */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparente */
  display: none; /* Oculta por defecto */
  z-index: 1000; /* Justo debajo del menú lateral */
}

/*###########################################*/
/*				PAGINA FOOTER			     */
/*###########################################*/
/* Estilo del footer */
footer {
    background-color: rgb(var(--color-fondo-oscuro)); /* Fondo oscuro similar al del menú */
    color: var(--color-texto-blanco); /* Texto blanco para contraste */
    padding: 20px 0; /* Espaciado vertical dentro del footer */
    text-align: center; /* Centra el contenido del footer */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    position: relative; /* Permite personalizaciones adicionales */
}

/* Estilo de la navegación dentro del footer */
footer nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0 0 10px 0; /* Espacio inferior */
    display: flex;
    justify-content: center; /* Centra los enlaces */
	align-items: center; /* Alinea verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los enlaces se envuelvan en pantallas pequeñas */
}

/* Estilo de los elementos de la lista dentro del footer */
footer nav ul li {
    margin: 0 15px; /* Espacio entre los enlaces */
}

/* Estilo de los enlaces dentro del footer */
footer nav ul li a {
    color: var(--color-texto-blanco); /* Mantén el texto en blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold;
    transition: color 0.3s; /* Suave transición para cambios de color */
}

/* Estilo al pasar el ratón sobre los enlaces del footer */
footer nav ul li a:hover {
    text-decoration: underline; /* Opcional: subraya el enlace al pasar el ratón */
}

/* Estilo del texto de derechos reservados */
footer p {
    margin: 10px 0 0 0; /* Espacio entre el nav y el texto */
    font-size: 0.9em; /* Texto ligeramente más pequeño */
    color: var(--color-texto-blanco); /* Mismo color que los enlaces */
}

/* Estilo para el ícono de LinkedIn en el footer */
footer nav ul li a img {
	width: 32px; /* Ajusta el tamaño del ícono según sea necesario */
    height: 32px;
    filter: none; /* Elimina cualquier filtro aplicado al img dentro del enlace */
	
    opacity: 1; /* Asegura que el icono se muestre completamente opaco */
    transition: none; /* Evita transiciones de color o filtro */
}

/* Media Query para evitar ejecutar el hover en dispositivos táctiles */
@media (hover: hover) and (pointer: fine) {
	footer nav ul li a img:hover {
		filter: brightness(0.8);
		transition: filter 0.3s ease;
	}
}

/*###########################################*/
/*				PAGINA BIENVENIDA			 */
/*###########################################*/
.contenido-bienvenida {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo para el contenido */
	margin-top: 20px; /* Desplaza el contenedor hacia abajo 20px */
}

.contenido-bienvenida p {
    line-height: 1.6; /* Ajusta el interlineado de los párrafos */
	margin: 0 0 20px 0; /* Espacio entre párrafos por aplicación de un margen en la parte inferior*/
}

.video-bienvenida {
    display: flex;
    justify-content: center; /* Centra el video horizontalmente dentro del contenedor */
    margin: 20px 0; /* Espacio alrededor del video */
}

.video-bienvenida video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media (max-width: 768px) {
    .contenido-bienvenida {
        max-width: 90%; /* Ajusta el ancho máximo del contenedor en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .contenido-bienvenida {
        max-width: 100%; /* Ancho total en pantallas muy pequeñas */
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }
}

/*###########################################*/
/*			PAGINA MENU DE CURSOS			 */
/*###########################################*/
/*-------------------------------------------*/
/*   			PARRILLA DE CURSOS   		 */
/*-------------------------------------------*/
/* Contenedor de la cuadrícula */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));	/* Asegura que las tarjetas tengan un ancho mínimo de 280px, pero pueden expandirse hasta ocupar todo el espacio disponible si hay más espacio en la pantalla */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: calc(100% - 40px);	 					/* Asegura que el contenedor ocupe el ancho disponible menos un pequeño margen para evitar desbordamiento */
    margin: 0 auto;
}

@media (max-width: 600px) {
    .courses-grid {
        grid-template-columns: 1fr; 				/* Una sola columna en pantallas muy pequeñas */
        gap: 30px; 									/* Aumenta el espacio entre tarjetas */
        padding: 20px 10px;
        width: calc(100% - 20px); 					/* Asegura que el contenedor ocupe el ancho disponible menos un pequeño margen para evitar desbordamiento */
    }
}

/* Vínculo hacia la página del curso */
.course-card-link {
	color: inherit; 								/* Mantiene el color del texto dentro del enlace */
    text-decoration: none; 							/* Elimina el subrayado del enlace */ 
}

/* Tarjetas de cursos individuales */
.course-card {
	display: flex;
	background-color: rgb(var(--color-fondo-oscuro));
    color: var(--color-texto-blanco);	
    height: 300px;
	/*width: 280px;*/								/* Se elimina el ancho fijo para que las tarjetas se adapten al ancho de la columna de la cuadricula*/
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0px;								/* Redondez de los bordes de las tarjetas. Se fija a cero para que muestre un cuadrado */
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between; 				/* Distribuye el contenido verticalmente */
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.text-content {
	display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.course-card h2 {
	font-weight: bold;
    font-size: 1.1em;
    line-height: 1.6;
    margin: 8px 16px 0 16px;
}

.course-card p {
    font-size: 0.8em;
	line-height: 1.6;
    margin: 0 16px 16px;
}

/* Efecto hover */
@media (hover: hover) and (pointer: fine) {
	.course-card:hover {
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		transform: translateY(-5px);
	}
}

/* Estilo para los tarjetones deshabilitados */
.course-card-link.disabled {
    pointer-events: none; /* Evita clics en el enlace */
    opacity: 0.5; /* Da una apariencia deshabilitada */
    cursor: not-allowed; /* Cambia el cursor para indicar que no es clickeable */
	filter: grayscale(100%); /* Aplica un filtro en escala de grises para hacer el contenido menos llamativo */
}

/*###########################################*/
/*			PAGINA CONTENIDO CURSOS			 */
/*###########################################*/
/* Titular de sección */
.course-title {  
    max-width: 800px;   /* Modifica el ancho del contenedor del título (esto hereda de .section-title) */
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .section-title {
        font-size: 1.5em; /* Tamaño de letra reducido para pantallas pequeñas */
    }
}

/*-------------------------------------------*/
/*   				VIDEO   				 */
/*-------------------------------------------*/
/* Contenedor centrado */
.capitulo-container {
    display: flex;
    flex-direction: column;
    align-items: center; 							/* Centra los elementos dentro del contenedor */
	margin-bottom: 40px; /* Este valor debe ser consistente con el margin-bottom del titular */
    padding: 0 10px; 								/* Agrega un poco de espacio a los lados */
	overflow: hidden;
	margin-top: 20px; /* Ajusta este valor según el espacio que necesites */
}

/* Estilo del video */
.capitulo-container video {
    width: 100%; 									/* Ajusta el ancho del video al 100% del contenedor */
    max-width: 800px; 								/* Limita el ancho máximo del video */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px; 							/* Espacio debajo del video */
}

/* Estilo del iframe */
.capitulo-container iframe {
    width: 100%;                                  /* Ajusta el ancho del iframe al 100% del contenedor */
    max-width: 800px;                              /* Limita el ancho máximo del iframe */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;                           /* Espacio debajo del iframe */
    aspect-ratio: 16/9;                            /* Mantiene la relación de aspecto del video */
}

/*-------------------------------------------*/
/*		  TRANSCRIPCION SONIDO VIDEO		 */
/*-------------------------------------------*/
/* Contenedor */
.transcripcion-container {
    font-size: 1em;
    color: var(--color-texto-negro);
    text-align: left; 								/* Alinea el texto al lado izquierdo */
    width: 100%; 									/* Ajusta el ancho al 100% del contenedor */
    max-width: 800px; 								/* Limita el ancho máximo */
    margin: 10px 0; 								/* Espacio alrededor del texto */
}

.transcripcion-header {
	display: flex;
    align-items: center;
    cursor: pointer;
}

.transcripcion-icon {
	font-size: 1em; 								/* Tamaño adecuado del triángulo */
    color: var(--color-texto-negro);
    transition: transform 0.3s ease;
    transform-origin: center center;
    margin-right: 5px;
    margin-top: -1px;
}

.transcripcion-content {
    display: none; 									/* Oculta la transcripción por defecto */
    font-size: 1em;
    line-height: 1.6;
    color: var(--color-texto-negro);
    margin: 20px 0 0 0; /* Elimina márgenes superior e inferior y define solo el margen inferior */
}

.transcripcion-content li{
    margin-bottom: 1em; /* Añade espacio de 10px entre cada elemento de la lista */
}

/*-------------------------------------------*/
/*				ASPECTOS CLAVE				 */
/*-------------------------------------------*/
/* Contenedor */
.aspectos-container {
    width: 100%; 									/* Ajusta el ancho al 100% del contenedor */
    max-width: 800px; 								/* Limita el ancho máximo */
    margin: 20px 0; 								/* Espacio alrededor del contenedor */
}

/* Titular "Aspectos clave" */
.aspectos-container h3 {
	font-size: 1.5em;
    color: var(--color-texto-negro);
    margin-top: 20px;
}

/* Texto descriptivo aspectos clave*/
.aspectos-container p {
    font-size: 1em;
    line-height: 1.6;
    color: var(--color-texto-negro);
}

/* Listas dentro del contenedor de aspectos clave */
.aspectos-container ul {
    padding-left: 20px;                         /* Espacio a la izquierda para la lista */
    margin-bottom: 1.6em;                       /* Espacio inferior similar al interlineado de los párrafos */
}

.aspectos-container li {
    font-size: 1em;
    line-height: 1.6;
    color: var(--color-texto-negro);
    margin-bottom: 0.8em;                       /* Espacio inferior entre elementos de la lista */
}

.aspectos-container li:last-child {
    margin-bottom: 0;                          /* Elimina el margen inferior del último elemento */
}

/*-------------------------------------------*/
/*	  BOTONES NAVEGACION CAPITULO ANT/SIG	 */
/*-------------------------------------------*/
.navegacion {
    text-align: center;
}

.navegacion button {
	font-size: 1em;
	background-color: rgb(var(--color-fondo-oscuro));
    color: var(--color-texto-blanco);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

@media (hover: hover) and (pointer: fine) {
	.navegacion button:hover {
		background-color: rgba(var(--color-fondo-oscuro),0.5);
	}
}

.navegacion button:disabled {
    background-color: #c0c0c0;
    color: #808080;
    cursor: not-allowed;
}

@media (hover: hover) and (pointer: fine) {
	.navegacion button:disabled:hover {
		background-color: #c0c0c0;
	}
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
    .capitulo-container video {
        width: 100%; 								/* Ajusta el ancho del video al 100% en pantallas pequeñas */
        max-width: 100%; 							/* Asegura que el video ocupe todo el ancho disponible */
		height: auto;
    }

    .transcripcion-container,
    .aspectos-container {
        width: 100%; 								/* Ajusta el ancho de los contenedores al 100% */
        max-width: 100%; 							/* Asegura que los contenedores ocupen todo el ancho disponible */
    }

    .transcripcion-content {
        font-size: 0.9em; 							/* Reduce el tamaño del texto en pantallas pequeñas */
    }

    .aspectos-container h3 {
        font-size: 1.2em; 							/* Reduce el tamaño del título en pantallas pequeñas */
    }

    .aspectos-container p {
        font-size: 0.9em; 							/* Reduce el tamaño del texto descriptivo en pantallas pequeñas */
    }
}

/*-------------------------------------------*/
/*	MENU LATERAL NAVEGACION ENTRE CAPITULOS	 */
/*-------------------------------------------*/
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-fondo-menu);
    overflow: auto;
    transition: 0.5s;
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1001;
}

.side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 60px;							/* Para fijar la altura de la parte de la cabecera del menú desplegable */	
}

.close-menu-button,
.side-menu h2 {
    font-size: 1.2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.close-menu-button {
    background: none;
    border: none;
    color: var(--color-texto-negro);
    font-size: 2.5em;
    cursor: pointer;
    z-index: 10;
	display: none;							/* Ocultaremos el botón de cierre porque no lo usaremos más */	
}

.side-menu h2 {
    margin: 0;
    padding: 0 10px;
}

.menu-content {
    width: 300px;
    padding-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: none;
}

.side-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.side-menu ul li {
    margin: 0;
}

.side-menu ul li a {
    color: var(--color-texto-negro);
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
    text-align: left;
}

.side-menu ul li a.active {
    font-weight: bold;
    background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
	.side-menu ul li a:hover {
		background-color: #d0d0d0;
	}
}

/*###########################################*/
/*				PAGINAS LEGALES			     */
/*###########################################*/
/* Contenedor principal de las páginas legales */
.legal-container {
    max-width: 800px; /* Limita el ancho máximo del texto */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px; /* Añade espaciado interno */
    background-color: var(--color-fondo-pagina); /* Mismo fondo que el resto de la página */
    color: var(--color-texto-negro); /* Asegura que el texto sea legible */
    line-height: 1.6; /* Mejora la legibilidad del texto */
    font-size: 1em; /* Tamaño de fuente estándar */
}

/* Estilo de los encabezados */
.legal-container h1, .legal-container h2, .legal-container h3 {
    color: var(--color-texto-negro); /* Usa el mismo color para los encabezados */
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilo de los párrafos */
.legal-container p {
    margin-bottom: 20px; /* Añade espacio entre los párrafos */
}

/* Listas dentro de las páginas legales */
.legal-container ul {
    margin-left: 20px; /* Indenta las listas */
    list-style: disc; /* Muestra una viñeta con disc para las listas */
}

/* Enlaces dentro de las páginas legales */
.legal-container a {
    color: rgb(var(--color-fondo-oscuro)); /* Color para los enlaces */
    text-decoration: underline; /* Mantén los enlaces subrayados */
    transition: color 0.3s;
}